server:
  port: 20001

spring:
  application:
    name: mall-gateway

  cloud:
    nacos:
      server-addr: 192.168.174.3:8848		#服务地址（nacos配置的地址默认是8848）
      discovery:           #配置所属集群
        cluster-name: HZ
        ephemeral: false  #修改为 非临时
        group: mall
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      enabled: true
      routes:
        - id: auth
          uri: lb://mall-auth
          predicates:
            - Path=/auth/**
      default-filters:
        - StripPrefix=1
